<script>
  import Query from './Query'
  export default {
    data(){
      return {
      }
    },
    name: 'context-panel',
    components: {
      Query
    }
  }
</script>
<template>
  <div class="panel">
  <el-col :span="19">
    <query></query>
  </el-col>
  </div>
</template>
<style scoped>
.panel{
  font-family: Quicksand, sans-serif;
}
</style>
