<script>
  import {mapGetters} from 'vuex';
  import {codemirror} from 'vue-codemirror'
  export default{
    data(){
      return {
        query: '',
        currentdb: this.$store.getters.currentDB,
        currentschema: 'SYSTEM',
        editorOptions: {
        tabSize: 4,
        mode: 'text/x-mysql',
        theme: 'base16-light',
        lineNumbers: true,
        line: true
      }
      }
    },
    methods: {
      runQuery(){
        //run query here
        console.log('Gonna make this query')
        console.log(this.currentdb.toLowerCase())
        console.log(this.query)
        this.$store.dispatch('set_database', this.currentdb)
        this.$store.dispatch('set_schema', this.currentschema)
        this.$store.dispatch('set_db_credentials', this.$store.getters.currentConnectionCreds)
        this.$store.dispatch('run_query', this.query).then(res => {
          this.$message({
            message: 'Statement was executed correctly!',
            type: 'success'
          })
        }, req => {
          console.log('its a statement')
          console.log(req)
          let data = {
            schema: req.req.schema,
            sql: req.req.sql
          }
          console.log('Is this ok?')
          console.log(data)
          this.$store.dispatch('sql_statement', data).then(res => {
            console.log('Very good, lets see')
            console.log(res)
            if(res.success == "false"){
              console.log('there was an error')
              this.$message.error(res.error.message)
            }else{
              this.$message({
                message: 'Statement was executed correctly!',
                type: 'success'
              })
              this.$store.dispatch('create_tree_view', {})
            }
          }, error => {
            console.log('Very bad what happen?')
            console.log(error)
          })
        })
      },
      isDisabled(value){
        return value !== this.$store.getters.currentDB
      },
      changeSchema(){
        console.log('Changing schema')
        console.log(this.currentschema)
      },
      changeDB(){
        if(this.currentdb !== this.$store.getters.currentDB){
          this.$confirm(`You're not connected to this database. \nDo you wish to connect?`, 'Hold on ma friend', {
            confirmButtonText: `Yes`,
            cancelButtonText: 'Nah',
            type: 'info'
          }).then(()=>{
            this.$store.dispatch('trigger_db_prompt', {})
            this.$store.dispatch('create_tree_view', {})
          }).catch(()=>{
            this.currentdb = this.$store.getters.currentDB
            this.$store.dispatch('create_tree_view', {})
          })
        }
      }
    },
    computed: {
      ...mapGetters({
        cols: 'queryTableCols',
        tableData: 'queryTableRows',
        database: 'currentDB',
        schema: 'currentSchema',
        databases: 'databases',
        schemas: 'schemas',
        currentQuery: 'currentQuery'
      })
    },
    components: {
      codemirror
    },
    watch: {
      currentQuery(val){
        console.log('IT CHANGED!!')
        console.log('to this')
        console.log(this.query)
        this.query = val
      }
    }
  }
</script>
<template>
  <div class="query">
    <div class="tool-box">
      <el-tag type="gray">Query</el-tag>
    </div>
   <div class="container">
     <el-tooltip content="Run" placement="left">
    <el-button @click="runQuery" id="toolBtn" size="mini" type="primary" icon="caret-right"></el-button>
  </el-tooltip>
     <small><b>Database:</b></small>
     <el-select id="db-select" @change="changeDB" v-model="currentdb" :value="database" >
      <el-option
        v-for="item in databases"
        :key="item.name"
        :label="item.name"
        :value="item.name">
      </el-option>
    </el-select>
    <small><b>Schema:</b></small>
    <el-select id="db-select" @change="changeSchema" v-model="currentschema">
     <el-option
       v-for="item in schemas"
       :key="item.SCHEMA"
       :label="item.SCHEMA"
       :value="item.SCHEMA">
     </el-option>
   </el-select>
   </div>
<div class="editor">
<codemirror id="codeEditor" v-model="query" :options="editorOptions"></codemirror>
</div>
<el-tag type="gray">Query Result</el-tag>
<el-table
    border
    :data="tableData"
    style=""
    height="250">
    <div v-for="col in cols">
    <el-table-column
      :prop="col"
      :label="col"
      width="150">
    </el-table-column>
  </div>
  </el-table>
</div>
</template>
<style>
small{
  margin-right: 10px;
}
#toolBtn{
margin-bottom: 3px;
margin-left: 2px;
margin-right: 10px;
}
#db-select{
margin-bottom: 3px;
width: 20%;
margin-right: 20px;
}
.query{
  margin-left: 20px;
  margin-right: 20px;
}
.query-input{
  margin-top: 6px;
}
.el-tag{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.editor{
  margin-left: 20px;
  z-index: 10;
  margin-top: 10px;
}
.CodeMirror{
  height: 134px;
}
.cm-s-base16-light.CodeMirror{
  width: 600px;
}
.CodeMirror-scroll{
  width: 600px;
}
</style>
