<template>
<div class="dashboard">
  <header-nav></header-nav>
  <side-bar></side-bar>
  <db-prompt></db-prompt>
  <context-panel></context-panel>
</div>
</template>
<script>
import HeaderNav from '../layout/HeaderNav'
import SideBar from '../layout/SideBar'
import ContextPanel from './ContextPanel/ContextPanel'
import DbPrompt from './DbPrompt'
export default{
  name: 'dashboard',
  data(){
    return {
    }
  },
  components : {
    HeaderNav,
    SideBar,
    ContextPanel,
    DbPrompt
  }
}
</script>
<style scoped>
.dashboard{
  font-family: Quicksand, sans-serif;
}
</style>
