<script>
export default {
    name: 'db-prompt',
    data() {
        return {
            form: {
                db_user: '',
                db_password: '',
                db_schema: '',
                db_name: ''
            },
            rules: {
                db_user: [{
                    required: true,
                    message: 'Please input a user'
                }],
                db_password: [{
                    required: true,
                    message: 'A password is required'
                }],
                db_name: [{
                    required: true,
                    message: 'Please select a database'
                }]
            }
        }
    },
    methods: {
        submitForm(formName){
          this.$refs[formName].validate((valid) => {
            if(valid){
              console.log('Submitting')
              console.log(this.form)
              this.$store.dispatch('connect_to_db', this.form).then(res => {
                this.$message({
                  message: 'Connection established :)',
                  type: 'success'
                })
                this.$store.dispatch('fetch_schemas', {}).then(res => {
                }, error => { console.log(error) })
              }, error => {
                this.$message.error('Oops, Invalid credentials for making connection :(');
                console.log(error)
              })
            }else {
              console.log('error on submit!')
              this.$message.error('Oops, you need to fill all connection credentials first');
              return false
            }
          })
        },
        resetForm(formName){
          this.$refs[formName].resetFields()
        }
    },
    computed: {
        show() {
            return this.$store.getters.showDbPrompt
        },
        db_list() {
            return this.$store.getters.databases
        },
        domain_schemas() {
            return this.$store.getters.schemas
        }
    },
    created() {
        this.$store.dispatch('fetch_databases', {})
        if(window.localStorage.getItem('db_user') !== null){
          console.log('Fetching schemas?')
          this.$store.dispatch('fetch_schemas', {})
        }
        this.form.db_user = window.localStorage.getItem('db_user')
        this.form.db_password = window.localStorage.getItem('db_password')
        this.form.db_name = window.localStorage.getItem('db')
        // this.$store.dispatch('fetch_schemas', {})
    }
}
</script>
<template>
<transition v-if="show" name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">

                <div class="modal-header">
                    <slot name="header">
                        Connect to DB
                    </slot>
                </div>

                <div class="modal-body">
                    <el-form ref="form" :show-message="false" :model="form" :rules="rules" label-width="140px">
                        <el-form-item label="User" prop="db_user">
                            <el-input type="text" v-model="form.db_user" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Password" prop="db_password">
                            <el-input type="password" v-model="form.db_password" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="Select Database" prop="db_name">
                            <el-select v-model="form.db_name" placeholder="please select database">
                                <el-option v-for="db in db_list" :value="db.name" :label="db.name"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('form')">Connect</el-button>
                            <el-button @click="resetForm('form')">Reset</el-button>
                        </el-form-item>

                    </el-form>
                </div>
            </div>
        </div>
    </div>
</transition>
</template>
<style>
.modal-mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
